h1 {
    color: #d8e10c;
    background: aliceblue;
}
p{
    color: black;
    background: azure;
}
h2 {
    color: #a7b00e;
    background: azure;
}
li {
    color: cornflowerblue;
    background: azure;
}
lu {
    color: black;
    background: azure;
}
a{
    color: darkorange;
    background: darkorange;
}