body {
    margin: 0;
    background:darkseagreen;
}

.container {
    height: 500px;
    background:teal;
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    ;

}


.box {
    color: black;
    width: 150px;
    height: 150px;
    border: solid 1px black;
    font-family: cursive;
    margin: 10px;
    position: relative;
    top: 250px;

}
 .box{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius:25px;
    background: cornflowerblue;
}
 .box1{
     width: 150px;
     height: 50px;
     background:teal    ;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius:25px;
     left: 150px;
     position: relative;
     top: 30px;

 }
 .fa-magnifying-glass{
     position: relative;
     font-size: 30px;
     top: 60px;
     left: 1400px;
     color: teal;
 }
.fa-bars{
    position: relative;
    font-size: 30px;
    left: 1470px;
    top: 60px;
    color: teal;

}